.bannerContainer{
   width: 100%;
   /* height: 100vh; */
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   position: relative;
   max-width: 1400px;
}
.bannerContainer img{
   width: 100%;
   height: 100%;
   object-fit: contain;
   filter: brightness(100%);
}
.bannerTitle {
   position: absolute;
   right: 0; 
   /* left: 0; */
   margin-right: 11%;
   margin-left: auto;
   width: 500px;
   max-width: 80%;
   min-width: 240px;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: .2em;
   padding-bottom: 20px;
}
.bannerTitle h1{
   width: 100%;
   font-family: 'Cinema';
   font-weight: 300;
   font-size: 3.5rem;
   color: rgb(15, 30, 49);
   direction: rtl;
   margin-bottom: 10px;
}
.bannerTitle h1 br {
   display: none;
}
.bannerTitle p {
   width: 100%;
   height: auto;
   line-height: 1.8em;
   direction: rtl;
   font-size: 1.05rem;
   font-weight: 500;
   font-family: 'YekanBakh';
   color: rgb(41, 41, 41);
}
.bannerTitle a {
   display: flex;
   align-self: flex-end;
}
.bannerTitle button {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   gap: .3em;
   margin-top: 1em;
   background-color: #4e4a6a;
   box-shadow: 0px 4px 12px -7px black;
   color: white;
   font-family: 'YekanBakh';
   font-size: 1.1rem;
   font-weight: 500;
   padding: 9px 0 7px 0;
   border: none;
   border-radius: 15px;
   width: 150px;
   /* height: 45px; */
   transition: .2s;
   cursor: pointer;
}
.bannerContainer button img {
   width: 22px;
}
.bannerTitle button:hover {
   background-color: rgb(15,30,49);
}
.searchContainer:hover {
   background-color: rgb(220, 205, 255);
}

/* @media (min-width: 1440px) {
   .bannerTitle {
      width: 650px;
   }
   .bannerTitle h1{
      font-size: 5.3rem;
   }
   .bannerTitle p {
      font-size: 1.5rem;
   }
   .bannerTitle button {
      font-size: 1.5rem;
      border-radius: 20px;
      width: 190px;
      height: 60px;
   }
   .bannerContainer button img {
      width: 24px;
   }
} */
@media (max-width: 1024px) {
   .bannerContainer {
      height: 100vh;
      justify-content: start;
      padding-top: 10em;
   }
   .bannerPhoto{
      display: none;
   }
   .bannerTitle {
      position: static;
      height: auto;
      margin: 0 auto;
   }
   .bannerTitle button {
      width: 150px;
      height: 40px;
      font-size: 1.1rem;
      margin-top: .8em;
   }
   
}
@media (max-width: 535px) {
   .bannerContainer {
      align-items: start;
   }
   .bannerTitle {
      width: 80%;
      justify-content: right;
   }
   .bannerTitle h1{
      font-size: 3.5em;
   }
   .bannerTitle h1 br {
      display: block;
   }
   .bannerTitle p{
      font-size: 1.1rem;
      line-height: 1.7em;
      text-align: justify;
      letter-spacing: 0;
   }
   
}
@media (max-width: 490px) {
   .bannerTitle h1 {
      font-size: 3.4rem;
   }
}
@media (max-width: 420px) {
   .bannerTitle p {
      font-size: 1.1rem;
   }
   .bannerTitle h1 {
      font-size: 2.9rem;
   }
}
@media (max-width: 395px) {
   .bannerTitle h1 {
      font-size: 2.7rem;
   }
}
@media (max-width: 350px) {
   .bannerTitle p {
      font-size: .9rem;
   }
   .bannerTitle h1 {
      font-size: 2.5rem;
   }
}