.container {
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   background-color: rgb(238,238,238);
   margin-bottom: 90px;
   max-width: 1500px;
}
.titleContainer {
   width: 100%;
   font-family: 'YekanBakh';
   display: flex; justify-content: center; align-items: center;
   gap: 5px;
}
.titleContainer img {
   width: 30px;
   rotate: -90deg;
}
.titleContainer h2 {
   padding: 30px 0;
   font-size: 1.8rem;
   font-weight: 500;
   color: #4E4A6A;
}
.cardsContainer {
   display: grid;
   width: 100%;
   grid-template-columns: repeat(5,195px);
   grid-template-rows: 280px;
   justify-content: center;
   align-content: center;
   justify-items: center;
   align-items: center;
   gap: 1em;
   padding: 1.5em 1em;      
}


/* Responsive */

@media (min-width: 1440px) {
   .cardsContainer {
      grid-template-columns: repeat(5,230px);
      grid-template-rows: 320px;
   }
   .titleContainer h2 {
      font-size: 2.2rem;
   }
}

@media (max-width: 1100px){
   .cardsContainer {
      grid-template-columns: repeat(3,190px);
      grid-template-rows: repeat(2,280px);
   }
   .titleContainer h2 {
      font-size: 1.8rem;
   }
}
@media (max-width: 768px){
   .cardsContainer {
      grid-template-columns: repeat(2,190px);
      grid-template-rows: repeat(3,270px);
   }
   .titleContainer h2 {
      font-size: 1.6rem;
   }
}
@media (max-width: 525px) {
   .container { 
      margin-bottom: 50px;
   }
   .cardsContainer {
      grid-template-columns: repeat(2,170px);
      grid-template-rows: repeat(4,230px);
   }
   .titleContainer {gap: 2px;}
   .titleContainer h2 {
      padding: 20px 0;
      font-size: 1.4rem;
   }
   .titleContainer img {
      width: 25px;
   }
}
@media (max-width: 430px) {
   .container {
      padding: 2em 1.5em;
   }
   .cardsContainer {
      grid-template-columns: repeat(1,100%);
      grid-template-rows: repeat(5,210px);
      gap: .8em;
   }
}
@media (max-width: 420px) {
   .titleContainer h2 {
      padding: 15px 0;
   }
}