.mainProducts{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 2em;
   background-color: transparent;
   direction: rtl;
   position: relative;
}
.carrousel {
   width: 90%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
.container , .loaderContainer {
   width: 88%;
   display: grid;
   border-radius: 15px;
   grid-template-columns: auto;
   grid-auto-flow: column;
   gap: 1.2em;
   padding: 1.5em 1em;      
   height: fit-content;
   min-height: 100px;
   overflow-x: scroll;
}
.container {
   justify-content: space-between;
}
.loaderContainer {
   justify-content: center;
}
.loader {
   width: 100%;
   height: 100%;
   display: flex; justify-content: center; align-items: center;
}
.loader img {
   width: 200px;
}
.container::-webkit-scrollbar , .loaderContainer::-webkit-scrollbar {
   display: none;
}
.container::-webkit-scrollbar-thumb , .loaderContainer::-webkit-scrollbar-thumb {
   background-color: rgba(15, 30, 49, 0.273);
   border-radius: 10px;
}
.arrowsContainerRight , .arrowsContainerLeft {
   width: 45px;
   height: 45px;
   border-radius: 50%;
   background-color: rgb(255, 255, 255);
   display: flex; justify-content: center; align-items: center;
   cursor: pointer;
   transition: .1s;
   box-shadow: 0px 4px 11px -7px black;
}
.arrowsContainerRight:hover , .arrowsContainerLeft:hover {
   background-color: #cccccc;
}
.arrowsContainerRight img , .arrowsContainerLeft img {
   width: 70%;
   height: 70%;
}
.arrowsContainerLeft {
   padding-right: 3px;
}
.arrowsContainerRight {
   padding-left: 3px;
}
.headerTitles {
   width: 90%;
   display: flex; justify-content: space-between;
   font-family: 'Lalezar';
   font-weight: 100;
   padding-bottom: 5px;
   border-bottom: 1px solid rgba(15, 31, 53, 0.297);
}
.headerTitles p {
   color: rgba(15, 31, 53, 0.807);
   font-size: 1.1rem;
}
.headerTitles a p{
   display: flex;
   justify-content: center; align-items: center; flex-direction: row-reverse;
   gap: 4px;
   border-radius: 12px;
   font-size: .95rem;
   font-weight: 100;
   padding: 0 8px;
   color: rgba(15, 31, 53, 0.807);
   transition: .2s;
}
.headerTitles a p:hover {
   background-color: rgb(255, 255, 255);
}
.headerTitles a p img{
   width: 14px;
}

/* Responsive */

@media (min-width: 1440px) {
   .arrowsContainerRight , .arrowsContainerLeft {
      width: 55px;
      height: 55px;
   }
}
@media (max-width: 1200px) {
   .container {
      grid-template-columns: repeat(4,1fr);
   }
}
@media (max-width: 1024px) {
   .carrousel {
      gap: 10px;
   }
   .container {
      width: 85%;
      gap: 1.2em;
   }
   .headerName {
      font-size: 1.1rem;
   }
}
@media (max-width: 950px){
   .container {
      grid-template-columns: repeat(3,230px);
   }
}
@media (max-width: 768px){
   .container {
      width: 100%;
      height: 700px;
      margin-top: 30px;
      grid-template-columns: repeat(2,1fr);
      grid-auto-flow: row;
      justify-content: center;
      justify-items: center;
      align-items: center;
      overflow-x: scroll;
      padding: 5px 0;
   }
   .loaderContainer::-webkit-scrollbar {
      display: none;
   }
   .loaderContainer {
      width: 100%;
      justify-content: center;
   }
   .container::-webkit-scrollbar {
      width: 6px;
      height: 100%;
   }
   .arrowsContainerRight , .arrowsContainerLeft {
      display: none;
   }
}
@media (max-width: 525px) {
   .container {
      grid-template-columns: repeat(1,1fr);
   }
}
@media (max-width: 420px) {
   .headerTitles p {
      font-size: 1rem;
   }
}