.imgContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 53%;
   padding:.5em;
}
.imgContainer img {
   max-width: 92%;
   max-height: 92%;
   transition: .4s;
}
.infoContainer {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0em 1.1em;
}
.infoContainer div {
   padding: 1px 0;
}
.infoContainer h2 {
   display: flex;
   justify-content: center; align-items: center;
   width: 100%;
   height: 35px;
   line-height: 1.3em;
   margin-bottom: 4px;
   text-align: center;
   font-size: 1.1rem;
   font-weight: bold;
   font-family: 'Vazir';
   color: rgb(17, 17, 17);
}
.price , .category , .ratingStars{
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   font-size: .85rem;
   font-weight: 100;
   direction: rtl;
   font-family: 'Vazir';
   color: rgb(27, 27, 27);
}
.starsContainer {
   display: flex;
   align-items: start;
   width: 65px;
   height: 21px;
}
.starsContainer div {
   display: flex;
   flex-direction: row;
   position: relative;
}
.starsContainer div span {
   position: absolute;
   top: 0; right: 0;
   height: 100%;
   width: 20px;
   background-color: #ffffffb8;
}
.starsContainer img {
   width: 13px;
}
.priceNumber {
   font-weight: bold;
   font-size: 1rem;
   color: #322d43;
   letter-spacing: .5px;
   height: 21px;
   display: flex; align-items:center;
}
.btnContainer {
   margin-top: .7em;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: .4em;
   transition: .1s ease-in-out;
}
.btnContainerRight {
   margin-top: .8em;
   width: 100%;
   display: flex;
   justify-content: left;
   align-items: baseline;
   gap: .2em;
   transition: .1s ease-in-out;
}
.btnContainer img , .btnContainerRight img {
   width: 27px;
   height: 27px;
   cursor: pointer;
}
.btnContainerRight button, .btnContainer button {
   border-radius: 12px;
   font-size: .8rem;
   font-family: 'KoohNoor';
   font-weight: 100;
   border: none;
   letter-spacing: 1px;
   background-color: #585476;
   box-shadow: 0px 2px 8px -5px black;
   color: white;
   width: 70%;
   height: 34px;
   padding: .25em .6em;
   transition: .2s;
   cursor: pointer;
}
.btnContainer button:hover {
   background-color: #342f45ee;
}
.deactived {
   opacity: .6;
}
.mainProducts img{
   max-width: 100%;
}
.cardCounterOn {
   position: absolute;
   padding-top: 2px;
   display: flex; justify-content: center; align-items: center;
   font-family: 'KoohNoor';
   font-size: .8rem;
   right: 0px; top: 0px;
   width: 25px; height: 20px;
   border-radius: 0 0 0 1em;
   background-color: #4a445e;
   color: white;
   transition: 1s;
}

/* Responsive */

@media (max-width: 1024px) {
   .infoContainer h2 {
      font-size: 1rem;
   }
   .price , .category{
      font-size: .8rem;
   }
}
@media (max-width: 450px) {
   .imgContainer {
      height: 50%;
   }
   .infoContainer {
      padding: 0em .95em;
   }
   .price , .category , .ratingStars{
      font-size: .8rem;
   }
   .priceNumber {
      font-size: .95rem;
   }
   .btnContainer {
      margin-top: .6em;
   }
   .btnContainerRight {
      margin-top: .8em;
   }
   .btnContainer img , .btnContainerRight img {
      width: 25px;
      height: 25px;
   }
   .btnContainerRight button, .btnContainer button {
      height: 30px;
   }
}