.searchContainer {
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: center;
   right: 75px; top: 21px;
   width: 110px; height: 40px;
   min-width: 40px;
   background-color: rgb(15, 30, 49);
   border-radius: 1.4em;
   padding-top: .3em;
   padding: 0 .3em .5em .3em;
   box-shadow: 0px 4px 11px -7px black;
   transition:all .3s;
   overflow: hidden;
} 
.searchContainer:hover {
   background-color: rgb(27, 53, 87);
}
.searchContainer input {
   background-color: transparent;
   color: white;
   overflow: hidden;
   position: absolute;
   right: 45px; top: 10px;
   border: none; outline: none;
   text-align: right;
   font-family: 'Vazir';
   font-size: .9rem;
   padding-bottom: .1em;
}
.searchContainer input::placeholder {
   color: rgb(207, 207, 207);
}
.searchContainer img {
   transition: .7s;
   position: absolute;
   right: 4px; top: 4px;
   width: 32px;
}

.searchResults {
   cursor: pointer;
   display: flex;
   flex-direction: column;
   position: absolute;
   right: 75px; top: 70px;
   width: 210px;
   height: auto;
   background-color: #fff;
   border-radius: .8em;
   padding: .5em .4em;
   box-shadow: 0px 1px 11px -7px black;
   border: .1px solid rgb(212, 212, 212);
}
.item {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 50px;
   border-bottom: 1px solid rgb(207, 207, 207);
}
a {
   text-decoration: none;
   color: black;
}
.itemImage {
   width: 25%;
   height: 100%;
   display: flex;
   justify-content: center; align-items: center;
   padding: .2em;
}
.itemImage img {
   max-width: 100%;
   max-height: 90%;
}
.itemTitle {
   width: 75%;
   text-align: left;
   display: flex; 
   justify-content: center; align-items: center;
   padding-left: .3em;
}
.itemTitle h3 {
   font-size: .75rem;
   font-family: 'Vazir';
   transition: .1s;
}
.itemTitle h3:hover {
   color: rgb(37, 37, 111);
}

/* Responsive */
@media (max-width: 768px) {
   .searchContainer {
      right: 68px;
   }
}
@media (max-width:415px) {
   .searchContainer {
      right: 65px;
      max-width: 125px;
   }
   .searchResults {
      right: 50px;
      padding: .4em .3em;
   }
}