.pageContainer {
   width: 100%;
   min-height: 100vh;
   display: flex;justify-content: center; align-items: start;
   padding-top: 110px;
   direction: rtl;
}
.cartContainer {
   width: 80%;
   max-width: 1200px;
   height: fit-content;
   display: flex;
   flex-direction: row;
   justify-content: center; align-items: start;
   padding: 2px;
   gap: 15px;
   position: relative;
}
.emptyCardMessage {
   position: absolute;
   top: 100px;
   width: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   gap: .7em;
   font-family: 'YekanBakh';
}
.emptyCardMessage a {
   font-size: 1.1rem;
   font-weight: 400;
   color: rgb(255, 255, 255);
   border-radius: 15px;
   background-color: #585476;
   padding: 6px 20px 2px 20px;
   cursor: pointer;
   transition: .2s;
   box-shadow: 0px 4px 11px -7px black;
}
.emptyCardMessage a:hover {
   background-color: rgb(15, 30, 49);
}
.emptyCardMessage h2{
   font-size: 1.4rem;
   color: #4a445e;
   font-weight: 500;
}
.checkoutPart {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1em;
   border-radius: 15px;
   width: 30%;
   height: auto;
   background-color: #fff;
   box-shadow: 0px 2px 20px -12px rgb(0, 0, 0);
   padding: 1.2em 1em 1em 1em;
}
.checkoutPart div{
   width: 100%;
   height: 15%;
   font-family: 'YekanBakh';
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.checkoutPart div h3 {
   font-size: 1rem;
   font-weight: 600;
   color: #000000b7;
}
.checkoutPart div p {
   color: #000000;
   font-size: 1rem;
   font-weight: 600;
}
.payment {
   width: 100%;
   height: 35px;
   padding: .2em 0 0 0;
   border: none;
   background-color: #419441e5;
   border-radius: 10px;
   font-size: 1rem;
   color: #fff;
   font-family: 'YekanBakh';
   font-weight: 500;
   cursor: pointer;
   transition: .2s;
}
.payment:hover {
   background-color: #388b38;
}
.discountCode {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin-top:.4em;
   gap: 5px;
}
.discountCode h3 {
   min-width: 70px;
}
.discountCode input {
   outline: none;
   width: 100%;
   height: 25px;
   border: 1px solid rgb(192, 192, 192);
   border-radius: .4em;
   background-color: #f1eeff;
   padding: 0 .5em;
}
.discountCode input:focus {
   outline: none;
}
.discountCode button {
   width: 20%;
   min-width: 40px;
   height: 25px;
   border-radius: .4em;
   border: none;
   background-color: #ceceff;
   font-family: 'YekanBakh';
   font-size: .8rem;
   text-align: center;
   cursor: pointer;
   color: #000000;
}
.selectedItemsPart {
   display: flex;
   flex-direction: column;
   gap: 1.5em;
   width: 70%;
   height: 100%;
}
.item {
   position: relative;
   width: 100%;
   height: 260px;
   border-radius: 15px;
   background-color: #fff;
   box-shadow: 0px 2px 20px -12px rgb(0, 0, 0);
   display: flex;
   flex-direction: row;
   justify-content: center; align-items: center;
}

.closeButton {
   position: absolute;
   left: 6px; top: 6px;
   width: 22px;
   cursor: pointer;
   z-index: 10;
}
.imagePart {
   width: 35%;
   height: 100%;
   display: flex; justify-content: center; align-items: center;
   padding: 1.3em 1em;
   position: relative;
}
.imagePart span {
   width: 1px; height: 100%;
   left: 0; top: 0; 
   background-color: #d3d3d3;
   position: absolute;
}
.imagePart img {
   max-width: 95%;
   max-height: 100%;
}
.infoPart {
   display: flex;
   flex-direction: column;
   justify-content: space-between; align-items: center;
   width: 65%; height: 100%;
   min-height: 260px;
   padding: 1.3em 1em 0 1em;
}
.divider {
   width: 100%; height: 1px;
   background-color: #d3d3d3;
}
.info {
   width: 100%; height: 100%;
   display: flex; flex-direction: column;
   justify-content: space-between;
   align-items: start;
   padding-bottom: 1.1em;
}
.info h2 {
   width: 100%;
   max-width: 85%;
   max-height: 65px;
   overflow-y: hidden;
   height: auto;
   text-align: left;
   direction: rtl;
   font-family: 'Vazir'; 
   font-size: 1.2rem;
   line-height: 1.3em;
}
.info ul {
   display: flex;
   flex-direction: column;
   justify-content: right;
   width: 100%;
   height: auto;
   gap: .2em;
   font-family: 'YekanBakh';
}
.info ul li {
   font-size: .85rem;
   font-weight: 500;
   color: #060606;
   list-style: none;
   padding: 0 1.7em;
   background-repeat: no-repeat;
   background-position: right center;
}
.info ul li:not(:nth-child(1)) {
   background-image: url('../Icons/check.svg');
   background-size: 15px;
}
.price {
   background-image: url('../Icons/dollar.svg');
   background-repeat: no-repeat;
   background-position: right center;
   background-size: 15px;
}
.price span {
   font-size: .8rem;
}
.count {
   display: flex; flex-direction: row;
   justify-content: right; align-items: center;
   width: 50%; height: 100%;
   font-family: 'YekanBakh';
}
.count , .totalPrice {
   gap: .6em;
}
.count h3 , .totalPrice h3 {
   font-size: .95rem;
   color: rgb(15, 30, 49);
}
.count div {
   display: flex; flex-direction: row;
   justify-content: center; align-items: center;
}
.count div img {
   width: 32px;
   height: 32px;
   cursor: pointer;
}
.count div p {
   width: 35px;
   height: 26px;
   display: flex; justify-content: center; align-items: center;
   border-radius: .4em;
   color: black;
}
.count_price {
   display: flex; flex-direction: row;
   width: 100%; height: 90px;
}
.totalPrice {
   display: flex; flex-direction: row;
   justify-content: left; align-items: center;
   width: 50%; height: 100%;
   padding-left: .2em;
   font-family: 'YekanBakh';
}
.totalPrice :nth-child(2) {
   color: #4a445e94;
}
.totalPrice :nth-child(2) span{
   font-size: 1.5rem;
   font-family: 'Vazir';
   font-weight: 600;
   color: rgb(15, 30, 49);
   letter-spacing: .5px;
}

/* Responsive */

@media (max-width: 1024px) {
   .cartContainer {
      flex-direction: column;
   }
   .checkoutPart {
      gap: .8em;
      width: 100%;
   }
   .checkoutPart div h3 {
      font-size: .9rem;
   }
   .selectedItemsPart {
      width: 100%;
   }
}
@media (max-width: 900px) {
   .info h2 {
      font-size: 1.1rem;
   }
}
@media (max-width: 768px) {
   .infoPart {
      padding: 1.1em 1em 0 1em;
   }
   .info h2 {
      font-size: 1.05rem;
   }
}
@media (max-width: 750px) {
   .item {
      width: 100%;
      height: 450px;
      border-radius: 15px;
      flex-direction: column;
   }
   .imagePart {
      width: 100%;
      height: 40%;
      padding: 1em 1em .4em 1em;
   }
   .imagePart span {
      display: none;
   }
   .infoPart {
      width: 100%; 
      height: 60%;
   }
   .info h2 {
      width: 100%;
      min-width: 100%;
      text-align: center;
      padding: 0 5px;
   }
}
@media (max-width: 450px) {
   .count_price {
      gap: 15px;
   }
   /* .count h3 {
      font-size: .8rem;
   } */
   .info h2 {
      overflow-y: scroll;
   }
   .info h2::-webkit-scrollbar {
      width: 3px;
      cursor: pointer;
   }
   .info h2::-webkit-scrollbar-thumb {
      background-color: rgba(15, 30, 49, 0.273);
      border-radius: 10px;
   }
   .count h3 {
      display: none;
   }
   .totalPrice h3:not(:last-child) {
      display: none;
   }
   .count , .totalPrice {
      gap: 5px;
   }
   .totalPrice :nth-child(2) span{
      font-size: 1.4rem;
   }
   .count div img {
      width: 30px;
      height: 30px;
   }
}
@media (max-width: 400px) {
   .item {
      height: 480px;
   }
   .infoPart {
      padding: 1em 1em 0 1em;
   }
   .info h2 {
      padding: 0px;
      font-size: 1rem;
      padding: 0 10px;
      overflow-y: scroll;
   }
   .info ul li {
      width: 100%;
      overflow: hidden;
      padding: 0 1.7em 0 0;
      white-space: nowrap;
      font-size: .8rem;
   }
   .imagePart img {
      max-width: 85%;
   }
}