.loginFormPage {
   width: 100%;
   min-height: 100vh;
   display: flex;justify-content: center; align-items: center;
   padding-top: 20px;
   direction: rtl;
}
.formContainer {
   width: 60%;
   height: fit-content;
   display: flex; flex-direction: row; justify-content: center; align-items: center;
   border-radius: 15px;
   padding: 5px 0;
   overflow: hidden;
   position: relative;
}
.loginFormPart {
   width: 60%;
   height: 100%;
   display: flex; flex-direction: column; justify-content: center; align-items: center;
   gap: 1em;
   font-family: 'Lalezar';
   position: relative;
}
.loginFormPart h2 {
   font-size: 1.8rem;
   font-weight: 100;
   margin-bottom: .3em;
   color: rgb(24, 44, 71);
}
.formPart{
   width: 60%;
   height: 100%;
   display: flex; flex-direction: column; justify-content: center; align-items: center;
   gap: .7em;
   font-family: 'Lalezar';
   position: relative;
}
.formPart h2 {
   font-size: 1.8rem;
   font-weight: 100;
   margin-bottom: .3em;
   color: rgb(24, 44, 71);
}
.inputContainer {
   /* background-color: #fff; */
   width: 80%;
   height: auto;
   display: flex; flex-direction: column;
   gap: .5em;
   position: relative;
}
.inputContainer label {
   font-size: 1rem;
   font-weight: 100;
   color: rgb(36, 36, 36);
   font-family: 'KoohNoor';
   font-weight: 600;
}
.inputContainer input {
   height: 27px;
   font-family: 'KoohNoor';
   font-size: 1rem;
   font-weight: 400;
   padding: 0 .5em;
   display: flex; justify-content: center; align-items: center;
   background-color: rgb(255, 255, 255);
   border-radius: .5em;
   cursor: text;
}

.incomplete:focus , .complete:focus {
   outline: none;
}
.incomplete {
   border: 1px solid red;
}
.complete {
   border: 1px solid rgb(222, 209, 255);
}
.complete:focus {
   border: 1px solid #5ba1fd;
}


.inputContainer span {
   position: absolute;
   padding: 0 5px;
   top: 2px; left: 0;
   direction: ltr;
   font-family: 'Vazir';
   font-size: .75rem;
   font-weight: 400;
   color: rgb(195, 0, 0);
   background-color: #ffd5d5;
   border-radius: .5em;
}
.checkboxContainer, .buttonContainer {
   width: 80%;
   height: auto;
   display: flex; flex-direction: row; align-items: center;
}
.checkboxContainer {
   margin: .5em 0;
   position: relative;
   display: flex; flex-direction: row; 
   gap: 1em;
}
.checkboxContainer label {
   font-size: .85rem;
   font-family: 'KoohNoor';
   font-weight: bold;
   color: rgb(51, 29, 81);
}
.checkboxContainer span {
   position: absolute;
   left: 0;
   color: red;
   font-size: 1.3rem;
}
.checkboxContainer input {
   cursor: pointer;
}

.buttonContainer {
   margin: .5em 0;
   display: flex; flex-direction: row; justify-content: center;align-items: center;
   gap: .5em;
}
.buttonContainer button , .loginButtonContainer button {
   width: 60%;
   height: 40px;
   border-radius: 12px;
   border: none;
   font-size: 1.1rem;
   font-family: 'KoohNoor';
   font-weight: 400;
   color: white;
   transition: .1s;
   cursor: pointer;
}
.buttonContainer button {
   background-color: rgb(91, 91, 192);
}
.buttonContainer button:hover {
   background-color: rgb(60, 60, 129);
}
.loginButtonContainer {
   width: 80%;
   margin-top: 1em;
   display: flex; flex-direction: column; justify-content: center;align-items: center;
   gap: 1.2em;
}
.loginButtonContainer button {
   background-color: rgb(65, 148, 65);
}
.loginButtonContainer button:hover {
   background-color: rgb(36, 92, 36);
}
.loginButtonContainer a {
   font-size: 1rem;
   font-family: 'KoohNoor';
   font-weight: bold;
   color: blue;
   text-decoration: none;
}
.loginButtonContainer p {
   font-family: 'KoohNoor';
   font-size: 1rem;
}
.divider {
   position: absolute;
   left: 5px;
   width: 1px; height: 82%;
   background-color: rgb(198, 198, 198);
}


.bannerPart {
   width: 40%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center ; align-items: center;
   font-family: 'KoohNoor';
   padding-bottom: 4em;
   gap: 10px;
}
.bannerPart img {
   max-width: 100%; 
   max-height: 100%;
}
.bannerPart p {
   font-size: 1rem;
}
.bannerPart a {
   text-decoration: none;
   cursor: pointer;
   font-size: 1rem;
   font-weight: bold;
   color: blue;
}


@media (max-width: 1024px) {
   .formContainer {
      width: 75%;
      padding: 20px 0;
   }
}
@media (max-width: 768px) {
   .formContainer {
      width: 80%;
      height: fit-content;
      flex-direction: column;
      padding: 25px 0;
      gap: 15px;
   }
   .loginFormPart {
      width: 100%;
      height: 100%;
   }
   .loginButtonContainer {
      gap: 10px;
   }
   .loginButtonContainer button {
      margin-bottom: 10px;
   }
   .loginButtonContainer p , .loginButtonContainer a{
      font-size: .85rem;
   }
   .bannerPart {
      width: 100%;
      height: 10%;
      justify-content: center; align-items: center;
      padding-bottom: 0;
   }
   .bannerPart img{
      display: none;
   }
   .divider {
      display: none;
   }
   .formPart {
      width: 100%;
      height: 100%;
   }
   .bannerPart p  , .bannerPart a{
      font-size: .85rem;
   }
}
@media (max-width: 450px) {
   .formContainer {
      padding: 15px 0;
   }
   .inputContainer label {
      font-size: .85rem;
   }
   .formPart h2 , .loginFormPart h2{
      font-size: 1.5rem;
   }
   .checkboxContainer label {
      font-size: .8rem;
      line-height: 22px;
   }
   .buttonContainer button{
      width: 100%;
   }
   .loginButtonContainer {
      width: 80%;
   }
   .loginButtonContainer button {
      width: 100%;
   }
}